@page
@model IndexModel
@{
    ViewData["Title"] = "List of Contacts";
}

<h1>Contatos</h1>

<a asp-page="/Create" class="btn btn-primary">New Contact</a>

<table class="table mt-3">
    <thead>
        <tr>
            <th>Name</th>
            <th>Contact</th>
            <th>E-mail</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model.Customers)
        {
            <tr>
                <td>@contact.Name</td>
                <td>@contact.Contact</td>
                <td>@contact.EmailAddress</td>
                <td>
                    <a asp-page="/Details" asp-route-Id="@contact.Id" class="btn btn-info btn-sm">Details</a>
                    <a asp-page="/Edit" asp-route-Id="@contact.Id" class="btn btn-warning btn-sm">Edit</a>
                    <form method="post" asp-page-handler="Delete" asp-route-Id="@contact.Id" style="display:inline">
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Do you wish to delete?')">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

